# Telemedicine Service
PORT=4005
VIDEO_PROVIDER=twilio

# Twilio Video Credentials
# Get these from https://console.twilio.com
TWILIO_ACCOUNT_SID=your_account_sid
TWILIO_API_KEY=your_api_key_sid
TWILIO_API_SECRET=your_api_key_secret